body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;

  > .header__logo {
    width: 100px;
    height: 100px;
    background: #c23030;
    border-radius: 50px;
  }
  > .header__menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.main__content {
  background: #ebeaea;
  height: calc(100vh - 148px - 24px);
  width: 100%;
}
