body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;

  >.header__logo {
    width: 100px;
    height: 100px;
    background: #c23030;
    border-radius: 50px;
  }

  >.header__menu {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .menuItem:hover {
    color: red;
  }
}

.main__content {
  background: #ebeaea;
  height: calc(100vh - 148px - 24px);
  width: 100%;
  border-radius: 5px;
  display: flex;
  gap: 48px;
  padding: 48px;
}

.buttons__container {
  flex-direction: column;
  display: flex;
  gap: 48px;

  >button {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    width: 144px;
    height: 48px;
    background: rgb(25, 18, 18);
  }

  >button:hover {
    background-color: rgb(132, 220, 211);
  }
}

.calc {
  margin: 0;
  padding: 48px;
  height: 384px;
  width: 384px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 16px; */
  /* padding: 120px 60px 24px 60px; */
}

.numbers {
  align-items: center;
  justify-content: center;
}

.input {
  width: 384px;
  height: 52px;
  border-radius: 9px;
  background: rgba(196, 196, 196, 0.3);
  display: flex;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;

  >button {
    height: 84px;
    width: 84px;
    background: rgb(196, 196, 196);
    border-radius: 42px;
    border: none;
    font-family: "Inter", serif;
    font-size: 36px;
  }
}

.clear {
  height: 84px;
  width: 84px;
  background: rgb(229, 183, 151);
  border-radius: 42px;
  border: none;
  font-family: "Inter", serif;
  font-size: 36px;
}

.equal {
  height: 84px;
  width: 84px;
  background: #aac59f;
  border-radius: 42px;
  border: none;
  font-family: "Inter", serif;
  font-size: 36px;
}

.input_container {
  position: relative;
  justify-content: center;
  align-items: center;

  >i {
    position: absolute;
  }

  >input {
    width: 384px;
    height: 52px;
    padding-right: 20px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: #C4C4C44D;
  }
}